.container {
    width: 95%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hex-colors{
    text-align: center;
  }
  
  .hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate; 
  }
  
  .hex-colors h2 {
    font-size: 2rem; 
    margin-top: 15%; 
  }
  